# SDG 7

1. Ensure access to affordable reliable modern energy
2. Increaase substantially the share of renewable energy 
3. Double rate of improvement in final energy consumption
4.

https://www.forbes.com/sites/joshuarhodes/2020/09/25/even-renewables-are-bigger-in-texas/?sh=43b2253c6a9a
https://www.eia.gov/todayinenergy/detail.php?id=40252

In [1]:
from data_functions import EIA_Series
import seaborn as sns

#  Texas - All renewables

In [2]:
all_series = {
    'us':{
        'all':'ELEC.GEN.ALL-US-99.M ',
        'wind':'ELEC.GEN.WND-US-99.M',
        'solar':'ELEC.GEN.TSN-US-99.M'
    },
    'tx':{
        'all':'ELEC.GEN.ALL-TX-99.M ',
        'wind':'ELEC.GEN.WND-TX-99.M',
        'solar':'ELEC.GEN.TSN-TX-99.M'
    },
    'ca':{
        'all':'ELEC.GEN.ALL-CA-99.M',
        'wind':'ELEC.GEN.WND-CA-99.M',
        'solar':'ELEC.GEN.TSN-CA-99.M'

    },
    'ny':{
        'all':'ELEC.GEN.ALL-NY-99.M',
        'wind':'ELEC.GEN.WND-NY-99.M',
        'solar':'ELEC.GEN.TSN-NY-99.M'
    },
    'fl':{
        'all':'ELEC.GEN.ALL-FL-99.M',
        'wind':'ELEC.GEN.WND-FL-99.M',
        'solar':'ELEC.GEN.TSN-FL-99.M'

    },
    'iw':{
        'all':'ELEC.GEN.ALL-IA-99.M ',
        'wind':'ELEC.GEN.WND-IA-99.M ',
        'solar':'ELEC.GEN.TSN-IA-99.M'
    },

}

In [3]:
import pandas as pd
wind_abs = pd.DataFrame()
wind_perc = pd.DataFrame()
solar_abs = pd.DataFrame()
solar_perc = pd.DataFrame()

for key,item in all_series.items():

    all = EIA_Series(
    item['all'],
    name = key,
    date_format='%Y%m',
    )

    wind = EIA_Series(
    item['wind'],
    name = key,
    date_format='%Y%m',
    )

    solar = EIA_Series(
    item['solar'],
    name = key,
    date_format='%Y%m',
    )

    wind_abs[key] = wind.frame[key]
    wind_perc[key] = (wind.frame[key]/all.frame[key])*100
    solar_abs[key] = solar.frame[key]
    solar_perc[key] = (solar.frame[key]/all.frame[key])*100

In [5]:
wind_perc

                   us         tx        ca        ny  fl         iw
Date
2001-01-01   0.117070   0.270734  0.802840  0.012011 NaN   1.160059
2001-02-01   0.152415   0.552736  1.026565  0.012819 NaN   1.020606
2001-03-01   0.176957   0.317730  1.892554  0.013678 NaN   1.048829
2001-04-01   0.246223   0.420162  2.478837  0.016043 NaN   1.849466
2001-05-01   0.211330   0.327108  2.237802  0.014741 NaN   1.672086
...               ...        ...       ...       ...  ..        ...
2020-09-01   6.899865  13.845387  4.516325  3.192794 NaN  61.286363
2020-10-01   9.200232  20.214267  6.434736  4.175385 NaN  69.874017
2020-11-01  11.134365  23.637707  8.091442  5.297971 NaN  80.955109
2020-12-01   9.409939  22.569465  7.635065  4.152714 NaN  58.996369
2021-01-01   8.673347  20.716355  7.995197  2.988560 NaN  56.223228

[241 rows x 6 columns]

In [7]:
import plotly

ModuleNotFoundError: No module named 'plotly'

In [1]:
import plotly_express as px

fig = px.scatter(wind_abs)

ModuleNotFoundError: No module named 'plotly_express'

In [ ]:
print(series)